.entrevistas {
  width: 100%;
  position: relative;
  top: -100px;
}

.entrevistas h2 {
  margin-left: 200px;
}

.entrevistas-imgs {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.entrevistas-imgs img {
  width: 100%;
  max-width: auto;
  height: auto;
  margin: 0;
  content: fixed;
}
