.entrevistas {
  width: 100%;
  position: relative;
  top: -100px;
}

.entrevistas h2 {
  margin-left: 100px;
}

.entrevistas-imgs {
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.entrevistas-imgs img {
  width: 100%;
  max-width: auto;
  height: auto;
  margin: 0;
  content: fixed;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .entrevistas-imgs {
    grid-template-columns: 50% 50%;
  }
}

@media screen and (max-width: 767px) {
  .entrevistas-imgs {
    grid-template-columns: 100%;
  }

  .entrevistas h2 {
    margin-left: 16px;
  }
}
