.topicos-icons-item {
  width: 260px;
  height: 178px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 52px;
}

.topicos-icons-item img {
  width: 104px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 13px;
}

.topicos-icons-item p {
  font-family: 'IBM Plex Sans', sans-serif;
  line-height: 1.5em;
  font-weight: 600;
  font-size: 24px;
  color: #060a24;
  letter-spacing: 0;
  text-align: center;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .topicos-icons-item:nth-child(2) {
    margin-bottom: 70px;
  }
  .topicos-icons-item:last-child {
    margin-bottom: 0;
  }
}
