.nosotros {
  width: 100%;
  position: relative;
  top: -180px;
}

.nosotros-content {
  width: 75%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}

.nosotros-content img {
  width: 100%;
  max-width: 457px;
  height: auto;
  margin-left: 0;
}

.nosotros-content-info {
  width: 464px;
  margin: auto 0;
}

.nosotros-content-info p {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #060a24;
  letter-spacing: 0;
  line-height: 24px;
  font-weight: lighter;
  margin: 0 0 15px 0;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .nosotros-content {
    width: 100%;
    padding-left: 0;
    padding-right: 16px;
  }
}

@media screen and (max-width: 767px) {
  .nosotros {
    top: -90px;
    margin-bottom: 54px;
  }

  .nosotros-content {
    display: block;
  }

  .nosotros-content-info {
    width: auto;
  }
}
